h1{
    color: #F040A0;
}
ul{
    color: purple;

}
*{
    background-color: #74cce7;
}

.border{
    display: flex;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.icon{
    align-content: right;
    padding-bottom:30px;
    margin-right:30px;
}

a{
    color: #0605B0;
    font-family: 'Trebuchet MS';
}

body{
    margin-left:0px;
    margin-bottom:0px; 
}

.header{
    padding-left: 30px;
}

